.description {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
            border: 2px solid white;
            border-radius: 126.5px;
            width: 256px;
            height: 256px;
        }
    }

    @media (max-width: 768px) {
        order: 1;
        text-align: center;

        img {
            border: 2px solid white;
            border-radius: 126.5px;
            width: 150px;
            height: 150px;
        }
    }

    h1 {
        /* Gabriel Mathias */
        color: var(--text-primary);
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 80px;
    }

    h2 {
        /* Java Web Developer */
        color: var(--text-secondary);
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
    }
}